body {
    background: #1e4f9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecalho {
    text-align: center;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
    background: #1a5cb2;
    border-bottom: 2px solid #003f8a;
}

.tela {
    background: #1a5cb2;
    width: 400px;
    max-width: 90%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 12px 22px;
    padding: 8px 22px;
    width: 250px;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid #003f8a;
    font-size: 18px;
    box-sizing: border-box;
    white-space: nowrap;
}

input {
    background: #ffffff;
    color: #003f8a;
    margin: px 6px;
    padding: 8px 24px;
    width: 250px;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid #003f8a;
    font-size: 18px;
    box-sizing: border-box;
    white-space: nowrap;
}

button {
    background: linear-gradient(135deg, #003f8a, #004a9b);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #003f8a;
    transform: translateY(-2px);
}

button.salvarPagar{
    background: linear-gradient(135deg, #003f8a, #004a9b);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button.salvarPagar:hover{
    background-color: #007a2d;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}

button.voltar {
    width: 250px; 
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto; 
    background: #003f8a;
    font-size: 16px;
    padding: 14px 24px;
    border-radius: 10px;
}

button.voltar:hover {
    background: #002f6a;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    background: #0061b3;
    margin: 8px 0;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.3s;
}

li:hover {
    background: #004a9b;
}

.rodape {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    background: #1a5cb2;
    border-top: 2px solid #003f8a;
}
