body {
    background: #1f5fbf;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.tela {
    background: #2266cc;
    width: 350px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}

input, button {
    margin: 8px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
}

button {
    background: #003f8a;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #002f6a;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #004a9b;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}